  body {
    margin: 0px;
    justify-content: center;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: 
    #FFFAF2;
  }

  .graha {
    position: absolute;
    top: 2.5%;
    left: 13.5%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
    z-index: 2;
  }

  .navbar {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    position: absolute;
    top: 0%; /* Adjust the top value as needed */
    left: -45%; /* Adjust the right value as needed */
    transform: translateX(50%); /* Corrected the transformation */
    width: 80%;
  }

  .navbar ul {
    display: flex;
    width: 40%;
    list-style: none;
    justify-content: space-between;
  }

  .navbar ul li a {
    text-decoration: none;
    font-size: 19px;
    color: black;
  }

  img.logo {
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    top: 4%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  .kenalan {
    font-weight: bold;
    position: absolute;
    top: 27%;
    left: 22%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: black;
    font-size: 25px;
    width: 24%; /* Atau sesuaikan dengan lebar yang diinginkan */
    /* atau max-width: 600px; */
  }
  
  .kenalan ul {
    display: flex;
    width: 100%; /* Sesuaikan dengan kebutuhan */
    list-style: none;
    justify-content: space-between;
  }
  
  .kenalan li {
    display: block;
    margin: 10px 0;
    text-align: left;
    font-weight: bold;
  }
  
  .kenalan ul li {
    display: block;
    margin: 10px 0;
    text-align: left;
    font-weight: bold;
  }
  
    img.high {
      float: right;
      width:
      509px;
      height: 
      562px;
      display: block;
      position: absolute;
      top: 39%;
      left: 60%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
    .card {
      width: 400px;
      height: 300px;
      top: 40%; 
      left: 12%;
      border-radius: 26.65px;
      background-color: white;
      box-shadow: 2px 2px 2px 2px black;
      position: absolute; /* atau relative, sesuai dengan kebutuhan */
    }
    .card-2 {
      width: 400px;
      height: 300px;
      top: 72%; 
      left: 45%;
      border-radius: 26.65px;
      background-color: white;
      box-shadow: 2px 2px 2px 2px black;
      position: absolute; /* atau relative, sesuai dengan kebutuhan */
    }
    .visi-kami {
      font-weight: normal;
      position: absolute;
      top: 58%;
      left: 21%;
      transform: translate(-50%, -50%);
      text-align: left;
      color: black;
      font-size: 
      20px;
      width: 18%; 
    }
    
    .visi-kami ul {
      display: flex;
      width: 100%; /* Sesuaikan dengan kebutuhan */
      list-style: none;
      justify-content: space-between;
    }
    
    .visi-kami li {
      display: block;
      margin: 10px 0;
      text-align: left;
      font-weight: normal;
    }
    
    .visi-kami ul li {
      display: block;
      margin: 10px 0;
      text-align: left;
    }
    .visi-kami h3 {
      top: -35%; /* Sesuaikan nilai top agar sejajar dengan .visi */;
      left: 28%; /* Sesuaikan nilai left agar sejajar dengan .visi */;
      color: #29679F;
      position: absolute;
    }
    
    .visi{
      position: absolute;
      top: 43%;
      left: 15%;
    }
        
    .note{
      position: absolute;
      top: 75%;
      right: 50%;
      width: 50px;
    }
    .note-2 {
      font-weight: normal;
      position: absolute;
      top: 90%;
      right: 28%;
      transform: translate(-50%, -50%);
      text-align: left;
      color: black;
      font-size: 
      20px;
      width: 18%; 
    }
    
    .note-2 ul {
      display: flex;
      width: 100%; /* Sesuaikan dengan kebutuhan */
      list-style: none;
      justify-content: space-between;
    }
    
    .note-2 li {
      display: block;
      margin: 10px 0;
      text-align: left;
      font-weight: normal;
    }
    
    .note-2 ul li {
      display: block;
      margin: 10px 0;
      text-align: left;
    }
    .note-2 h3 {
      top: -32%; /* Sesuaikan nilai top agar sejajar dengan .visi */;
      left: 31%; /* Sesuaikan nilai left agar sejajar dengan .visi */;
      color: #29679F;
      position: absolute;
    }
    .graha {
      font-weight: normal;
      position: absolute;
      top: 125%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      font-size: 24px;
      width: 99.9%;
      height: 200px; 
      background-color: #29679F;
      display: flex;
      justify-content: center;
    }
    
    .graha ul {
      display: flex;
      width: 50%;
      list-style: none;
      justify-content: space-between;
      text-align: center; /* Tambahkan properti text-align: center */
    }
    
    .graha li {
      margin: 10px 0;
      font-weight: normal;
    }
    
    .graha ul li {
      display: block;
      margin: 10px 0;
    }
    
    